@font-face { font-family: CaviarDreams; src: url('CaviarDreams.ttf'); }
@font-face { font-family: CaviarDreams; font-weight: bold; src: url('Caviar Dreams Bold.ttf');}

body {
  border: 10px solid black;
  background-color: '#464646';
  background-image: url(mt-hood-stars.jpg);
  background-position: center top;
  font-family: CaviarDreams, sans-serif;
  color: white;
}

h1 {
  text-align: center;
}
