@font-face { font-family: CaviarDreams; src: url('CaviarDreams.ttf'); }
@font-face { font-family: CaviarDreams; font-weight: bold; src: url('Caviar Dreams Bold.ttf');}

body {
  background-color: "#d3d3d3";
  background-image: url(mt-hood-stars.jpg);
  background-position: center top;
  font-family: CaviarDreams
  color: white;
}

h1 {
  text-align: center;
}
