@font-face { font-family: CaviarDreams; src: url('CaviarDreams.ttf'); }
@font-face { font-family: CaviarDreams; font-weight: bold; src: url('Caviar Dreams Bold.ttf');}

body {
  margin: 0;
  border: 2em solid black;
  background-color: '#464646';
  background-image: url(mt-hood-stars.jpg);
  background-position: center top;
  font-family: CaviarDreams, sans-serif;
  color: white;
}
p {
  margin-right: 2em;
  font-size: 1.5em;
}

ul {
  margin-right: 2em;
  font-size: 1.2 em;
}

h1 {
  font-size: 4em;
  text-align: center;
}

img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

div.textbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.5;
    filter: alpha(opacity=50); 
}
